*.suo
*.user
*.orig
*.sublime-workspace
.sass-cache/

[Bb]in/
[Oo]bj/

.DS_Store
._*
.vscode
.vs
src/SCommerce.Website/themes/javascript/tests/package.json
src/SCommerce.Website/themes/javascript/tests/protractor/conf.js
src/SCommerce.Website/themes/javascript/tests/protractor/lib/selenium-standalone-servers/selenium-server-standalone-2.53.1.jar
/src/_node_modules
/src/.vs/config
/src/Data/Wakeupdatafeed

*.DS_Store
src/SCommerce.Website/App_Config/Include/Unicorn.config
src/Data/Sitemap/sitemap-websiteStark.xml

Src/.idea/*
Src/.vs/*

.idea/*